.song-title-container{
    margin: 20px;
    
}

.song-title-container>button{
    font-family: 'FisherPrice';
    margin: 5px;
    border-radius: 15px;
    border-color: #FFC145;
}

.song-title-container input{
    border: 0px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 4vw;
    font-style: italic;
    margin: 5px;

    font-family: 'FisherPrice';

}