button {
    font-size: clamp(8px, 2vw, 20px);
    background-color: #fffffb;
}
.button-container {
    font-family: "FisherPrice";
}
.button-container > button {
    font-family: "FisherPrice";
    margin: 5px;
    border-radius: 15px;
    border-color: #ffc145;
}
