.record-preview-animate{
    pointer-events: none;
    transform-origin: center;
    transform: rotate(50deg);
    animation: rotateDisc 25s linear;
    
}

@keyframes rotateDisc{
from{
transform: rotate(50deg);
}
to{
    transform: rotate(405deg);
}
}
#record-preview{
    position: relative;
    left: 340px;
    top: -54px;
    transform: rotate(45deg);
}
.record-player{
    position: relative;
    left: -230px;
    top: 0px;
    width: 980px;
}
.record-preview-container{
    position: absolute;
    top: 800px;
    z-index: 1;
    width: 100%;
    min-width: 1000px;
    align-items: center;

}
