.staff-component {
  border: 10px solid #FFC145;
  border-radius: 20px;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.315);
  overflow: auto;
  background: linear-gradient(176deg, rgba(130,130,190,1) 0%, rgba(71,71,158,1) 100%);
  display: grid;
  grid-auto-rows: 20px;
  grid-auto-columns: 20px;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  padding: 20px;
  margin: 30px;
width: 75vw



}

.staff-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.fixed-notes {
  position: sticky;
  font-size: 18.3px;
  background-color: aliceblue;
  border: 1px solid black;
  width: 28px;
  top: 0px;
  left: 0px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 18px;
  }
::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background: #FFC145;
}