.staff-line{
border: 2px solid black;
}
.evenBlock{
    background-color: rgb(235, 234, 230);
}

.oddBlock{
    background-color:rgb(141, 141, 141);
}

.staff-line:hover{
    background-color: darkblue;
}

.staff-line-note{
    background-color: rgb(0, 8, 255);
    box-shadow: 0px 0px 3px lightblue;
}

.staff-line-note:hover{
    background-color: rgb(183, 185, 255);
}