.staff-line{
border: 2px solid black;
}
.evenBlock{
    background-color: rgb(235, 234, 230);
}

.oddBlock{
    background-color:rgb(141, 141, 141);
}

.staff-line:hover{
    border: 4px solid rgba(0, 8, 252, 0);
}

.staff-line-note{
    background-color: rgb(71, 77, 252);
}

.staff-line-note:hover{
    background-color: rgb(16, 23, 201);
}

.highlighted{
    border: 4px solid rgb(65, 15, 65);
    animation: fadeBorder 800ms ;
}

@keyframes fadeBorder{
    from{
        border: 4px solid rgba(65, 15, 65, 0)
    }
}